<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
          background-image: url('map.png'); 
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin: 0;
          font-family: 'Arial', sans-serif;
        }
    
       
    
      </style>
</head>
<body>
    <header class="header">
        <a href="./mainpage.html" class="logo">OneHeart</a>
        <nav class="navbar">
            <div class="dropdown">
                <button class="dropbtn">
                    <button class="dropbtn">
                        <img src="account.png" alt="Account Icon">
                    </button>
                <div class="dropdown-content">
                    <a href="./signIN.html">Sign In</a>
                    <a href="./login.html">Log In</a>
                    <a href="./generate_qr_code.html">CodeQR-PROFILE</a>
            </div>
        </div>
        <a href="./mainpage.html">Home</a>
        <a href="./chat.html">Do you need help?</a>
        <a href="./news.html">News</a>
        <a href="./index.html">Calendar</a>
        <a href="./contact.html">Contact</a>
        <a href="./translate.html">Audio-Theatre</a>
        <a href="./Communty.html">Clubs</a>
            
        </nav>
    </header>
<div class="login-container" style="height:500px">
    <h2><img src="account.png" alt="Account Image"></h2>
    <form class="login-form" action="your_server_script.php" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password" >Password:</label>
            <input type="password" id="password" name="password" required>
            <a href="#" class="show-password" onclick="togglePassword()">Show Password</a>
    
        </div>
        
        <div class="form-group">
            <button type="button" onclick="generateQRCode()" style="color: black;">Log In</button>
        </div>
    </form>
    <div id="qrcode"></div>
    <script src="script.js"></script>

</div>
<script>
    function togglePassword() {
        var passwordInput = document.getElementById("password");

        passwordInput.type = passwordInput.type === "password" ? "text" : "password";
    }
</script>

</body>
</html>
