<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<style>
</style>
<body>
    
<header class="header">
    <a href="./mainpage.html" class="logo">OneHeart</a>
    <nav class="navbar">
        <div class="dropdown">
            <button class="dropbtn">
                <button class="dropbtn">
                    <img src="account.png" alt="Account Icon">
                </button>
            <div class="dropdown-content">
                <a href="./signIN.html">Sign In</a>
                <a href="./login.html">Log In</a>
                <a href="./generate_qr_code.html">CodeQR-PROFILE</a>
            </div>
        </div>
        <a href="./mainpage.html">Home</a>
        <a href="./chat.html">Do you need help?</a>
        <a href="./news.html">News</a>
        <a href="./index.html">Calendar</a>
        <a href="./contact.html">Contact</a>
        <a href="./translate.html">Audio-Theatre</a>
        
    </nav>
</header>
    <div style="align-content: center;">
        <table>
            <tr><td><img src="OneHeart.png" alt="oneheart"/></td>
                <td><img class="pulsate" src="oh.png" alt="oh" width="300" height="400"/></td>
                </tr>
            
        </table>
        
    </div>

    <div class="bottom-left-img ">
    <img src="bridge.png" alt="bridge"/>
</div>
    
</body>

</html>